
nav(class="footerName")
  h1(class="footerH1") All rights reserved 
  a(class="footer1" href='index.html') Home 
    a(class="footer1" href='about.html') About Us
      a(class="footer1" href='contact.html') Contact Us
